# API 配置
API_BASE_URL=http://localhost:8000

# LLM 配置
LLM_PROVIDER=openai
LLM_MODEL=gpt-4
LLM_TEMPERATURE=0.7
LLM_MAX_TOKENS=4096
LLM_BASE_URL=
LLM_API_KEY=your_api_key_here

# 本地 LLM 配置
LOCAL_LLM_BASE_URL=http://localhost:11434/api
LOCAL_LLM_MODEL=llama3

# RAG 配置
VECTOR_DB_PATH=./data/vector_db #db数据库位置
EMBEDDING_MODEL=text-embedding-3-small #嵌入模型
LOCAL_EMBEDDING_MODEL=dengcao/bge-large-zh-v1.5:latest #本地嵌入模型
RERANK_MODEL=bbjson/bge-reranker-base #重排序模型
LOCAL_RERANK_MODEL=bbjson/bge-reranker-base #本地重排序模型
USE_LOCAL_EMBEDDING=false #是否使用本地嵌入模型
USE_LOCAL_RERANK=false #是否使用本地重排序模型

CHUNK_SIZE=1000 #分块大小
CHUNK_OVERLAP=200 #分块重叠大小

# 业务数据库
DATABASE_URL=sqlite:///./data/app.db

# 日志
LOG_LEVEL=INFO